

/********** Base styles *********/
* {
  box-sizing: border-box; 
  font-family: Georgia, Helvetica, Cursive;
  box-sizing: border-box;
  margin:0;
  padding:0;
}

.row{
  width: 100%;
  

}

/********** Body styles **********/
body{
  background-color:grey;
  color:#fff;
  margin:0;
}
h3 {
  color:white;
}

/********** End of body  styles **********/

/********** Header styles **********/

#header-nav{

background-color:#ff56af;
border-radius:0;
border:0;
}



.navbar-brand{
  padding-top:10px;
  
  height: 70px;

}



.navbar-header  div{
  margin-left:0;
}


.navbar-brand h1{
  margin-top:0;
  color: #0056ff;
  font-size: 3em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow:5px 5px 5px #224;
  margin-top:0;
  margin-bottom:0;
  margin-left:0;
  line-height: 0.9;

}


.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-header button.navbar-toggle  {
  border: 1px solid #61122f;
}

.navbar-header button.navbar-toggle {
  clear:both;
  margin-top: -30px;


}



nav span{
  font-size: 1.5em;
  font-style: bold;
}
/********** End of Header styles *********/

/********** Main Page styles *********/


.menuitem {
  top: 0;
  background-color:#121212;
  margin:15px 15px 15px ;
  padding : 15px;
  border: 3px solid #000;

}
.menuitem p{
  color: white;
}



.backlink a{
  background-color:red;
  color: yellow;
  font-size: 1.6em;
  color: yellow;
}




.backlink a:hover{
  text-decoration: none;
}

/********** End OF Main Page styles *********/


